{{ partial "header.html" . }}
<!-- <div class="article-meta"> -->
  
<h1 class="article-title">{{ .Title }}</h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if .Params.date }}<span class="article-subtitle">{{ .Date.Format "2006/01/02" }}</span>{{ end }}
<span class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
   &nbsp;{{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">#{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</span>
<!-- </div> -->

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
